header {
  background-color: rgb(8, 8, 8);
  color: rgb(236, 236, 236);
}

.navList {
  display: flex;
  font-size: 1.2rem;
}

.link {
  padding: 1.3rem;
}

.activeLink {
  position: relative;
  padding: 1.3rem;
  color: aqua;
  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 80%;
    height: 3px;
    display: block;
    border-radius: 5px;
    background-color: rgb(59, 59, 255);
    transform: translateX(-50%);
  }
}
